<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kora.android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>

    <application
        android:name=".KoraApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".presentation.ui.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.ui.test.TestActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".presentation.ui.registration.step1.FirstStepActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".presentation.ui.registration.step2.SecondStepActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".presentation.ui.registration.step3.ThirdStepActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".presentation.ui.registration.step4.FourthStepActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".presentation.ui.registration.countries.CountriesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".presentation.ui.registration.currencies.CurrenciesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".presentation.ui.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".presentation.ui.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.MainTheme"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".presentation.ui.common.add_contact.GetContactActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.MainTheme"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".presentation.ui.common.enter_pin.EnterPinActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.MainTheme"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".presentation.ui.common.send_request.RequestDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.MainTheme"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".presentation.ui.borrow.BorrowMoneyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.MainTheme"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".presentation.ui.coming_soon.ComingSoonActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.MainTheme"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".presentation.ui.common.deposit_withdraw.DepositDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.MainTheme"
            android:windowSoftInputMode="stateHidden"/>

        <service
            android:name=".presentation.service.sms.IncomingSmsService"
            android:exported="false"/>

        <service
            android:name=".presentation.service.wallet.CreateWalletsService"
            android:exported="false"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.file_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths"/>
        </provider>

        <!--<meta-data-->
            <!--android:name="io.fabric.ApiKey"-->
            <!--android:value="f32866bad87d4d45e3341259c5c789f68dd21fd3" />-->

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="6f3d94ec4d7cdc5f65fbac9e6a13105b3a4ef581" />

    </application>

</manifest>