<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kora.android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>

    <application
        android:name=".KoraApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".presentation.ui.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.ui.test.TestActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".presentation.ui.registration.step1.FirstStepActivity"
            android:theme="@style/AppTheme.Light"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".presentation.ui.registration.step2.SecondStepActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".presentation.ui.registration.step3.ThirdStepActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".presentation.ui.registration.step4.FourthStepActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".presentation.ui.registration.countries.CountriesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".presentation.ui.registration.currencies.CurrenciesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".presentation.ui.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".presentation.ui.home.HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".presentation.ui.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.MainTheme"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".presentation.ui.send.add_contact.AddContactActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.MainTheme"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".presentation.ui.send.send.SendMoneyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.MainTheme"
            android:windowSoftInputMode="stateHidden"/>

        <service
            android:name=".presentation.service.IncomingSmsService"
            android:exported="false"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.file_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths"/>
        </provider>

    </application>

</manifest>